.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  margin: 60px auto;
  max-width: 300px;
}
.formulario{
  display: flex;
  align-items: center;
}
form{
  background-color: #0e4e7c;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div label {
  font-size: 18px !important;
  font-family: 'santico', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

div input {
  font-family: 'santico', sans-serif;
  color: #0e4e7c !important;
  font-weight: bold;  
}

.botao {
  margin: 20px auto;
}


.linkCadastro p {
  font-family: 'santico', sans-serif;
  color: #0e4e7c !important;
  font-weight: bold;
}

div h3{
  font-family: 'santico', sans-serif;
    color: #0e4e7c !important;
    font-weight: bold;
    text-transform: uppercase;
}