.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  margin: 60px auto;
  max-width: 300px;
}


form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div label {
  font-size: 18px !important;
  font-family: 'santico', sans-serif;
  color: #0e4e7c;
  font-weight: bold;
}

div input {
  font-family: 'santico', sans-serif;
  color: #0e4e7c !important;
  font-weight: bold;
}

.botao {
  margin: 20px auto;
}


.linkCadastro p {
  font-family: 'santico', sans-serif;
  color: #0e4e7c !important;
  font-weight: bold;
}

div h3{
  font-family: 'santico', sans-serif;
    color: #0e4e7c !important;
    font-weight: bold;
    text-transform: uppercase;
}