.box{
    width:300px;
    position: relative;
    perspective: 1000px;
}

body{
    background-color:#392F5A;
}

div.box{
    margin: 200px;
}

.box .box-img{
    transform:rotateY(0);
    transition: all 0.5s ease-in-out 0s; 
    
}


.box:hover .box-img{
    transform:rotateY(-90deg)
}

.box .box-img img{

    width:100%;
    height:auto;
}

.box .content{
    color: white;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left: 0;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    padding:110px 50px;
    box-sizing:border-box;
    transform:rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}


.box:hover .content {

    transform:rotateY(0);

}


.box .content p {

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding:20px 0;

}


.box ul{

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
}


.box ul li{
    list-style: none;
    padding-top: 10px;
}

.box ul li i{

    width:50%;
    cursor: pointer;
}

i{
    color: #392F5A;
}


.main{
    align-items: center;
    justify-content: center;
    display: flex;
}

 